<HTML>

<HEAD>
    <SCRIPT>var isomorphicDir = "../isomorphic/";</SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Core.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Foundation.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Containers.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Grids.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Forms.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_DataBinding.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/skins/Tahoe/load_skin.js></SCRIPT>
</HEAD>

<BODY>

    <SCRIPT>

        const teamData = [
            {
                TeamId: 1,
                TeamName: "New Costing System",
                Employees: [
                    {
                        EmployeeId: 1,
                        Name: "Charles Madigen",
                        Salary: 1000
                    },
                    {
                        EmployeeId: 2,
                        Name: "Bob Dillan",
                        Salary: 2000
                    },
                    {
                        EmployeeId: 3,
                        Name: "Den Ponizhan",
                        Salary: 3000
                    },
                ]
            },
            {
                TeamId: 2,
                TeamName: "Warehousing Improvements",
                Employees: [
                    {
                        EmployeeId: 4,
                        Name: "Sa Ckickos",
                        Salary: 4000
                    },
                    {
                        EmployeeId: 5,
                        Name: "Sergio Ramos",
                        Salary: 5000
                    },
                    {
                        EmployeeId: 6,
                        Name: "Olga Rutino",
                        Salary: 6000
                    },
                    {
                        EmployeeId: 7,
                        Name: "Kira Liliol",
                        Salary: 1000
                    },
                ]
            },
            {
                TeamId: 3,
                TeamName: "Evaluate AJAX Frameworks",
                Employees: [
                    {
                        EmployeeId: 8,
                        Name: "Anna Potman",
                        Salary: 7000
                    },
                    {
                        EmployeeId: 9,
                        Name: "Stan Kallen",
                        Salary: 8000
                    },
                    {
                        EmployeeId: 10,
                        Name: "Ron Bennon",
                        Salary: 1000
                    }
                ]
            },
            {
                TeamId: 4,
                TeamName: "Upgrade Postgres",
                Employees: [
                    {
                        EmployeeId: 4,
                        Name: "Sa Ckickos",
                        Salary: 4000
                    },
                    {
                        EmployeeId: 9,
                        Name: "Stan Kallen",
                        Salary: 8000
                    },
                    {
                        EmployeeId: 10,
                        Name: "Ron Bennon",
                        Salary: 1000
                    }
                ]
            },
            {
                TeamId: 5,
                TeamName: "Online Billing",
                Employees: [
                    {
                        EmployeeId: 1,
                        Name: "Charles Madigen",
                        Salary: 1000
                    },
                    {
                        EmployeeId: 2,
                        Name: "Bob Dillan",
                        Salary: 2000
                    }
                ]
            },
        ];


        isc.DataSource.create({
            ID: "teamDS",
            fields: [
                { name: "TeamId", primaryKey: "true" },
                { name: "TeamName" },
                { name: "Employees" },
            ],
            clientOnly: true,
            testData: teamData
        });

        isc.ListGrid.create({
            ID: "teamMembersGrid",
            width: 800,
            height: 200,
            dataSource: "teamDS",
            autoFetchData: true,
            showFilterEditor: true,
            // filterLocalData: true,
            fields: [
                { name: "TeamName", title: "Team Name" },
                {
                    name: "Employees",
                    formatCellValue: function (v, r) {
                        return r.Employees.map((e) => {
                            return e.Name;
                        })
                    }
                },
            ],
        });

        // teamDS.fetchData(null, (dsResponse, data) => {
        //     data.forEach(e => {

        //         let criteria = { TeamId: e.TeamId };

        //         teamMembersDS.fetchData(criteria, (dsResponse, data) => {

        //             const employees = []

        //             data.forEach(e => {
        //                 employees.push(e.EmployeeName)
        //             })

        //             let matchingRow = teamMembersGrid.getRecordIndex(data[0]);
        //             let matchingRecord = teamMembersGrid.getRecord(matchingRow);

        //             if (matchingRecord != null) {
        //                 matchingRecord.Employees = employees;
        //             }

        //             let columnNumber = teamMembersGrid.getFieldNum("Employees");
        //             teamMembersGrid.refreshCell(matchingRow, columnNumber);
        //         });
        //     });
        // });

    </SCRIPT>
</BODY>

</HTML>